
@using HRM.App_LocalResources;
@{
    ViewBag.Title = @AppRes.Employee;
    Layout = "~/Views/Shared/_Layout.cshtml";
    var timeVersion = "20191004";
}
<style>
    body {
        overflow-x: hidden;
    }

    .menu-department {
        height: 95vh;
    }

    .demo-section1 {
        display: block;
        margin-top: 32px;
        height: 500px;
        overflow: scroll;
        margin-left: -28px;
    }

        .demo-section1 li {
            display: inline-block;
            width: 100%;
        }
      

</style>

<script>
    var currentRoleId = @Html.Raw(Json.Encode(ViewBag.CurrentRoleId));
    var date_Birth=@Html.Raw(Json.Encode(AppRes.Date_Birth));
    var dateStartWork=@Html.Raw(Json.Encode(AppRes.DateStartWork));
    var trialDate=@Html.Raw(Json.Encode(AppRes.TrialDate));
    var taxCodeIssueDate=@Html.Raw(Json.Encode(AppRes.TaxCodeIssueDate));
    var lastChildBirthday=@Html.Raw(Json.Encode(AppRes.LastChildBirthday));
    var endWorkingsDate=@Html.Raw(Json.Encode(AppRes.EndWorkingsDate));
    var dateIdentityCard=@Html.Raw(Json.Encode(AppRes.DateIdentityCard));
    var skype=@Html.Raw(Json.Encode(AppRes.Skype));
    var illegal=@Html.Raw(Json.Encode(AppRes.illegal));

</script>

<link href="~/Scripts/directive/angular-treeview/treeview.css" rel="stylesheet" />
<link href="~/Scripts/directive/angular-table/build-table.css" rel="stylesheet" />
<div class="container-fluid" ng-app="tableApp">
    <div class="row">
        <div ng-controller="mytable1" ng-init="init()">
            <div class="col-xs-3 col-sm-2 menu-department">
                <h5 style="text-transform: none; margin-top:25px">@AppRes.Department</h5>
                <div class="demo-section1">
                    <div data-angular-treeview="true"
                         data-tree-id="department"
                         data-tree-model="sourceDepartment"
                         data-ng-click="ChangeEmployeeData();">
                    </div>
                </div>
            </div>
            <div class="col-xs-9 col-sm-10" style="margin-top:0px;">
                <div style="display: none;">
                    @Html.Action("Save_Employee", "Employee")
                </div>
                <build-table table-url="'@(ViewBag.url)'"
                             table-edit="editClick"
                             table-delete="deleteClick"
                             table-excel-click="ExcelClick"
                             table-add="addClick"
                             table-param-filter="employeeFilter"
                             table-model="employeeData">
                </build-table>
            </div>
        </div>
    </div>
</div>
<script src="@Url.Content("~/Scripts/directive/angular-treeview/angular-treeview.js?v=" + timeVersion)"></script>
<script src="@Url.Content("~/Scripts/directive/angular-table/angular-table.js?v=" + timeVersion)"></script>
<script src="@Url.Content("~/Scripts/mycustom/EmployeeRelationships.js?v=" + timeVersion)"></script>
<script src="@Url.Content("~/Scripts/mycustom/WorkingProcessUntil.js?v=" + timeVersion)"></script>
<script src="@Url.Content("~/Scripts/mycustom/SocialInsuranceDetailUntil.js?v=" + timeVersion)"></script>
<script src="@Url.Content("~/Scripts/mycustom/EmployeeOrganizationUnitUntil.js?v=" + timeVersion)"></script>
<script src="@Url.Content("~/Scripts/mycustom/EmployeeBonusDisciplineUntil.js?v=" + timeVersion)"></script>
<script src="@Url.Content("~/Scripts/mycustom/TableService.js?v=" + timeVersion)"></script>
<script>
    $(function () {
        $("#tabs").tabs();
    });
</script>
<script>
    BuildTable('tableApp', 'mytable1', '@(ViewBag.url)','@AppRes.Notification','@AppRes.Error');
    BuildTable1('tableApp', 'WorkingProcess', '@(ViewBag.url2)', '@(ViewBag.url3)','@AppRes.Notification','@AppRes.Error','@AppRes.CheckWPEndDate');
    BuildTable2('tableApp', 'SocialInsuranceDetail', '@(ViewBag.url4)','@AppRes.Notification','@AppRes.Error');
    BuildTable3('tableApp', 'EmployeeRelationships', '@(ViewBag.url5)','@AppRes.Notification','@AppRes.Error');
    BuildTable4('tableApp', 'EmployeeBonusDiscipline', '@(ViewBag.url6)','@AppRes.Notification','@AppRes.Error');
</script>





