@using HRM.App_LocalResources;
<div class="container-fluid">
    <div id="Timekeeping123">
        <div class="row" style="margin: 0;">
            <div class="col-md-12">
                <!-- START panel-->
                <div class="panel">
                    <div class="panel-heading"><b>@AppRes.TimeKeepingDetail</b></div>
                    <hr />
                    <div class="panel-body">
                        <form role="form" name="EditForm" ng-submit="SaveAction(tableInfo.AddUrl,EditForm)">
                            <div class="row">
                                <div class="col-md-12">
                                    @*---------------------------------------------------------------Đầu tiên-------------------------------------------------------------------------------------------------------*@
                                    <div class="row">
                                        <div class="">
                                            <div class="col-md-3">
                                                <label>@AppRes.StaffCode</label>
                                            </div>
                                            <div class="col-md-3">
                                                <input type="text" ng-readonly="true" class="form-control"  ng-model="editData.StaffCode" />
                                              
                                                
                                            </div>
                                        </div>
                                        <div class="">
                                            <div class="col-md-3">
                                                <label>@AppRes.WorkingAdjusted</label>
                                            </div>
                                            <div class="col-md-3">
                                                <input class="form-control" ng-disabled="is_readonly"  ng-model="editData.WorkingAdjusted" />
                                            </div>
                                        </div>
                                    </div>
                                    <br />
                                    <div class="row">
                                        <div class="">
                                            <div class="col-md-3">
                                                <label>@AppRes.NoteAdjusted</label>
                                            </div>
                                            <div class="col-md-3">
                                                <textarea class="form-control" ng-disabled="is_readonly" ng-model="editData.NoteAdjusted">

                                            </textarea>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                         
                            @*---------------------------------------------------------------Thêm mới và bỏ qua-------------------------------------------------------------------------------------------------------*@
                            <div class="row" style="margin-top:20px">
                                <div class="col-md-4 col-md-push-5">
                                    <button type="submit" class="btn btn-labeled btn-success" ng-show="tablePermission.isEdit">
                                        <span class="btn-label">
                                            <i class="fa fa-save"></i>
                                        </span>@AppRes.btnUpdate
                                    </button>
                                    <button type="button" class="btn btn-labeled" ng-click="CloseForm()">
                                        <span class="btn-label">
                                            <i class="fa fa-remove"></i>
                                        </span>@AppRes.btnCancel
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- END panel-->
            </div>
        </div>
    </div>
</div>


