@using HRM.App_LocalResources;
@{
    ViewBag.Title = AppRes.TemplateSalary;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    body {
        overflow-x: hidden;
    }

    .menu-department {
        height: 95vh;
        border-right: 1px solid #f3f3f3;
    }

    .demo-section1 {
        display: block;
        margin-top: 32px;
        height: 500px;
        margin-right: -50px;
        overflow: scroll;
        margin-left: -28px;
    }

        .demo-section1 li {
            display: inline-block;
            width: 100%;
        }
</style>
<link href="~/Scripts/directive/angular-table/build-table.css" rel="stylesheet" />
<script>
    var errorColumName= @Html.Raw(Json.Encode(AppRes.ErrorColumName));
    var errorColumNameEN= @Html.Raw(Json.Encode(AppRes.ErrorColumNameEN));
    var errorDataFormat= @Html.Raw(Json.Encode(AppRes.ErrorDataFormat));
    var errorDataTypes= @Html.Raw(Json.Encode(AppRes.ErrorDataTypes));
    var errorOrderColumn= @Html.Raw(Json.Encode(AppRes.ErrorOrderColumn));
</script>
<div class="container-fluid" ng-app="tableApp">
    <div class="row">
        <div ng-controller="mytable" ng-init="init()">
            <div style="display: none;">
                @Html.Action("SaveTemplate", "Template")
            </div>
            <build-fixed-table table-url="'@(ViewBag.url)'"
                               table-edit="editClick"
                               table-delete="deleteClick"
                               table-excel-click="ExcelClick"
                               table-add="addClick"
                               table-param-filter="employeeFilter"
                               table-model="TemplateData">
            </build-fixed-table>        
        </div>
    </div>
</div>
<script src="~/Scripts/directive/angular-treeview/angular-treeview.js"></script>
<script src="~/Scripts/directive/angular-table/angular-table.js"></script>
<script src="~/Scripts/mycustom/TableService.js"></script>
<script src="~/Scripts/mycustom/Template/TemplateUntil.js"></script>
<script>
    BuildTable('tableApp', 'mytable', '@(ViewBag.url)');
</script>


