@using HRM.App_LocalResources;
<div class="container-fluid">
    <div class="row" id="Save_utl_Role_Permission" style="margin: 0px;">
        <form role="form" name="EditForm" ng-submit="SaveAction(tableInfo.AddUrl,EditForm)">
            <div class="col-md-12">
                <!-- START panel-->
                <div class="panel">
                    <div class="panel-heading"><h3 style="text-transform: none;"> Grid Permission</h3></div>
                    <hr />
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <label style="line-height:35px;">@AppRes.TableName <span style="color:red">(*)</span></label>
                                    </div>
                                    <div class="col-sm-9">
                                        <select class="form-control" chosen options="GetListTable" on-no-result="doStuff" required data-modal="modal" ng-model="EditData.GridId" ng-options="list.id as list.Note for list in GetListTable" ng-change="ChangeGrid()">
                                            <option value="" selected>@AppRes.Select</option>
                                        </select>
                                        <span style="color:red;line-height:30px;">{{ErrorGrid}}</span>

                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <label style="line-height:35px;">@AppRes.Delim <span style="color:red">(*)</span></label>
                                    </div>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" ng-model="EditData.Delim" ng-change="ChangeDelim()" />
                                        <span style="color:red;line-height:30px;">{{ErrorDelim}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />
                        <br />
                        <div class="row">
                            <div class="col-sm-6" >
                                <div class="row">
                                    <div class="col-sm-3">
                                        <label style="line-height:35px;">@AppRes.Role <span style="color:red">(*)</span></label>
                                    </div>
                                    <div class="col-sm-9">
                                        <select class="form-control" chosen options="ListSecRole" on-no-result="doStuff" required data-modal="modal" ng-model="EditData.PermissionId" ng-options="list.RoleID as list.Name for list in ListSecRole" ng-change="ChangePermissionId()">
                                            <option value="" selected>@AppRes.Select</option>

                                        </select>
                                        <span style="color:red;line-height:30px;">{{ErrorPermissionId}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <label style="line-height:35px;">@AppRes.Condition <span style="color:red">(*)</span></label>
                                    </div>
                                    <div class="col-sm-9">
                                        <textarea  class="form-control" ng-model="EditData.Condition" ng-change="ChangeCondition()"></textarea>
                                        <span style="color:red;line-height:30px;">{{ErrorCondition}}</span>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END panel-->
                <center>
                    <button type="button" class="btn btn-success btn-labeled" ng-click="Save()">
                        <span class="btn-label">
                            <i class="fa fa-save"></i>
                        </span>@AppRes.btnUpdate
                    </button>
                    <button type="reset" class="btn btn-labeled" ng-click="CloseForm()">
                        <span class="btn-label">
                            <i class="fa fa-close"></i>
                        </span>@AppRes.btnCancel
                    </button>
                </center>
            </div>
        </form>
    </div>
</div>
