@using HRM.App_LocalResources;
@{
    ViewBag.Title = AppRes.WorkingDayMachineDetail;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    body {
        overflow-x: hidden;
    }

    .menu-department {
        height: 95vh;
        border-right: 1px solid #f3f3f3;
    }

    .demo-section1 {
        display: block;
        margin-top: 32px;
        height: 500px;
        margin-right: -50px;
        overflow: scroll;
        margin-left: -28px;
    }

        .demo-section1 li {
            display: inline-block;
            width: 100%;
        }
</style>
<link href="~/Scripts/directive/angular-table/build-table.css" rel="stylesheet" />
<link href="~/Scripts/directive/clockPicker/bootstrap-clockpicker.min.css" rel="stylesheet" />
<script src="~/Scripts/directive/clockPicker/bootstrap-clockpicker.min.js"></script>
<script>
    var errorDate= @Html.Raw(Json.Encode(AppRes.ErrorDate));
    var selectTimekeeper= @Html.Raw(Json.Encode(AppRes.SelectTimekeeper));
    var errorStatus= @Html.Raw(Json.Encode(AppRes.ErrorStatus));
    var errorStartTime= @Html.Raw(Json.Encode(AppRes.ErrorStartTime));
    var errorSmallHours= @Html.Raw(Json.Encode(AppRes.ErrorSmallHours));
    var errorStartingMinute= @Html.Raw(Json.Encode(AppRes.ErrorStartingMinute));
    var errorSecondsStart= @Html.Raw(Json.Encode(AppRes.ErrorSecondsStart));
    var errorCompareHours= @Html.Raw(Json.Encode(AppRes.ErrorCompareHours));
    var errorCompareMinutes= @Html.Raw(Json.Encode(AppRes.ErrorCompareMinutes));
    var errorCompareSecond= @Html.Raw(Json.Encode(AppRes.ErrorCompareSecond));
    var errorDateOfApplication= @Html.Raw(Json.Encode(AppRes.ErrorDateOfApplication));
    var errorStatusWork= @Html.Raw(Json.Encode(AppRes.ErrorStatusWork));
    var errorHoursEnd= @Html.Raw(Json.Encode(AppRes.ErrorHoursEnd));

</script>
<div class="container-fluid" ng-app="tableApp">
    <div class="row">
        <div ng-controller="mytable" ng-init="init()">
            <div style="display: none;">
                @Html.Action("SaveHR_WorkingDayMachineDetail", "HR_WorkingDayMachineDetail")
            </div>
            <build-fixed-table table-url="'@(ViewBag.url)'"
                               table-edit="editClick"
                               table-delete="deleteClick"
                               table-excel-click="ExcelClick"
                               table-add="addClick"
                               table-param-filter="employeeFilter"
                               table-model="HR_WorkingDayMachineDetailData">
            </build-fixed-table>
        </div>
    </div>
</div>
<script src="~/Scripts/directive/angular-treeview/angular-treeview.js"></script>
<script src="~/Scripts/directive/angular-table/angular-table.js"></script>
<script src="~/Scripts/mycustom/TableService.js"></script>
<script src="~/Scripts/mycustom/HR_WorkingDayMachineDetail/HR_WorkingDayMachineDetailUntil.js"></script>

<script>
    BuildTable('tableApp', 'mytable', '@(ViewBag.url)');
</script>
<script>
    $('.clockpicker').clockpicker({
        placement: 'top',
        autoclose: true,
    });


    //$(function () { $('.timeselect').inputmask({ mask: "99:99:99" }); });
</script>
@*<script type="text/javascript">
    $(function () {
        $('#timeformatExample1').timepicker({ 'timeFormat': 'H:i:s' });
        $('#timeformatExample2').timepicker({ 'timeFormat': 'H:i:s' });
    });
</script>*@

