@using HRM.App_LocalResources;
@{
    ViewBag.Title = AppRes.ShareRateSalaryCostByDept;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Scripts/directive/angular-table/build-table.css" rel="stylesheet" />
<div class="container-fluid" ng-app="tableApp">

    <div id="AttendanceManagement" class="row" style="margin: 0;" ng-controller="ShareRateSalaryCostByDept" ng-init="init()">
        <div class="col-md-12" id="ShareRateSalaryCostByDept">
            <style>
                #ReportAccountByStaff span.label-btn.col-6 {
                    padding-right: 10px;
                    float: left;
                    line-height: 30px;
                }

                #ReportAccountByStaff select.form-control.col-6 {
                    width: 50%;
                    float: left;
                }

                #ReportAccountByStaff .col-md-1-2 {
                    width: 15%;
                    float: left;
                }

                #ReportAccountByStaff label.col-sm-3.col-form-label {
                    line-height: 30px;
                }

                #ReportAccountByStaff input.form-control.col-sm-6 {
                    width: 50px;
                    float: left;
                }

                #ReportAccountByStaff label.col-md-2 {
                    line-height: 30px;
                }

                label.col-sm-3.col-form-label {
                    width: auto;
                }

                h3.ng-binding {
                    display: none;
                }

                .col-md-12.ng-isolate-scope > .col-md-12 {
                    padding-left: 0;
                    padding-right: 0;
                }

                .hide-element {
                    display: none;
                }
            </style>
            <br />
            @*<div class="row">
                    <div class="col-md-12">
                        <div class="col-md-4" style="padding-left: 0">
                            <input type="radio" ng-model="data.filter7" id="all" ng-change="ShowAllOrDetail();childmethod();" name="all" value="1"> <span class="label-btn-radio">@AppRes.General</span>
                            <input type="radio" ng-model="data.filter7" id="detail" ng-change="ShowAllOrDetail();childmethod();" name="detail" value="2"> <span class="label-btn-radio">@AppRes.Detail</span>
                        </div>
                    </div>
                </div>
                <br />*@
            <div style="display: none;">
                @Html.Partial("_Save")
                @Html.Partial("_Import")
            </div>
            <div class="row">
                <build-fixed-table table-url="'/ShareRateSalaryCost/GetShareRateSalaryCostByDept'"
                                   table-edit="editClick"
                                   table-delete="deleteClick"
                                   table-add="addClick"
                                   table-import="importExcelClick"
                                   table-model="ShareRateSalaryCostData"
                                   table-excel-click="ExcelClick" notification="'@(AppRes.Notification)'" validate-datetime="'@(AppRes.ValidateFromDateToDate)'" />
            </div>
        </div>

    </div>
</div>


<script src="~/Scripts/directive/angular-table/angular-table.js"></script>
<script src="~/Scripts/directive/angular-treeview/angular-treeview.js"></script>
<script src="~/Scripts/mycustom/TableService.js"></script>
<script src="~/Scripts/mycustom/ShareRateSalaryCost/ShareRateSalaryCost.js"></script>
<script>
    BuildTable('tableApp', 'ShareRateSalaryCostByDept', '@(ViewBag.url)');
</script>
<script src="~/Scripts/directive/datePicker(NewDate)/datePicker.js"></script>



