@{
    Layout = null;
}
@model HRM.Models.Sec_UserModel

@using HRM.Common
@using HRM.Constants
@using HRM.App_LocalResources
<!DOCTYPE html>
<html lang="en-us" id="extr-page">

<!-- Mirrored from 192.241.236.31/themes/preview/smartadmin/1.8.x/ajax/login.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 17 Mar 2017 03:59:47 GMT -->
<head>
    <meta charset="utf-8">
    <title> ERP Login</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- #CSS Links -->
    <!-- Basic Styles -->
    <link rel="stylesheet" type="text/css" media="screen" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/font-awesome.min.css">

    <!-- SmartAdmin Styles : Caution! DO NOT change the order -->
    <link rel="stylesheet" type="text/css" media="screen" href="/css/smartadmin-production-plugins.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/smartadmin-production.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/smartadmin-skins.min.css">

    <!-- SmartAdmin RTL Support -->
    <link rel="stylesheet" type="text/css" media="screen" href="/css/smartadmin-rtl.min.css">

    <!-- We recommend you use "your_style.css" to override SmartAdmin
         specific styles this will also ensure you retrain your customization with each SmartAdmin update.
    <link rel="stylesheet" type="text/css" media="screen" href="css/your_style.css"> -->
    <!-- Demo purpose only: goes with demo.js, you can delete this css when designing your own WebApp -->
    <link rel="stylesheet" type="text/css" media="screen" href="/css/demo.min.css">


    <link rel="stylesheet" type="text/css" media="screen" href="/css/custom.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/force-change-password.css">
    <!-- #FAVICONS -->
    <link rel="shortcut icon" href="/img/favicon/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/img/favicon/favicon.ico" type="image/x-icon">

    <!-- #GOOGLE FONT -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700">

    <!-- #APP SCREEN / ICONS -->
    <!-- Specifying a Webpage Icon for Web Clip
         Ref: https://developer.apple.com/library/ios/documentation/AppleApplications/Reference/SafariWebContent/ConfiguringWebApplications/ConfiguringWebApplications.html -->
    <link rel="apple-touch-icon" href="/img/splash/sptouch-icon-iphone.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/img/splash/touch-icon-ipad.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/img/splash/touch-icon-iphone-retina.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/img/splash/touch-icon-ipad-retina.png">

    <!-- iOS web-app metas : hides Safari UI Components and Changes Status Bar Appearance -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <!-- Startup image for web apps -->
    <link rel="apple-touch-startup-image" href="/img/splash/ipad-landscape.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape)">
    <link rel="apple-touch-startup-image" href="/img/splash/ipad-portrait.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait)">
    <link rel="apple-touch-startup-image" href="/img/splash/iphone.png" media="screen and (max-device-width: 320px)">

    <!-- Link to Google CDN's jQuery + jQueryUI; fall back to local -->
    <script src="/js/libs/jquery-2.1.1.min.js"></script>
    <script src="/js/bootstrap/bootstrap.min.js"></script>
    <script src="~/Scripts/mycustom/mycustom.js"></script>
    <link href="~/Vendor/loading/please-wait.css" rel="stylesheet" />
    <script src="~/Vendor/loading/please-wait.min.js"></script>
    <link href="~/Vendor/loading/Spinner.css" rel="stylesheet" />
    <script src="~/Scripts/mycustom/toastr/toastr.min.js"></script>
    <link href="~/Scripts/mycustom/toastr/toastr.min.css" rel="stylesheet" type="text/css" />
    <!-- LINK THÔNG BÁO BẢO TRÌ HỆ THỐNG-->
    @*<script type="text/javascript">
            $(document).ready( function() {
                url = "/Maintenance.html";
                $(location).attr("href", url);
            });
        </script>*@

</head>

<body class="animated fadeInDown">
    
    <div id="ChangePassword">
        <div class="modal fade" id="ChangePasswordModal">
            <header id="header">
                <div id="logo-group">

                    <!-- PLACE YOUR LOGO HERE -->
                    <span id="logo"> <img src="/img/logo.png" alt="NOVAON ERP"> </span>
                    <input type="hidden" value="@Global.CurrentUser.UserID" />
                    <!-- END LOGO PLACEHOLDER -->
                </div>

                <div class="pull-right">
                    <span style="font-weight: bold; font-size:12px;position:absolute;right:50px;top:17px;">
                        @Global.CurrentUser.DisplayName
                    </span>
                    <div id="logout" class="btn-header transparent pull-right">
                        <span> <a href="/Authentication/DoLogout" title="Sign Out"><i class="glyphicon glyphicon-off" style="font-weight: bold; top: 3px;"></i></a> </span>
                    </div>
                </div>

            </header>
            <div class="modal-dialog" role="document">
                <div class="modal-content" style="width: 600px;">
                    <div class="modal-header">
                        @*<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" style="font-size: 28px !important">×</span></button>*@
                        <h4 class="modal-title" id="myModalLabel">@AppRes.ChangePassword</h4>
                    </div>
                    <div class="modal-body" style="overflow:hidden;">
                        <div id="contentModel">
                            <form class="form-horizontal popup-container" id="frmChangePassword" method="post" role="form">
                                <input data-val="true" data-val-number="The field UserId must be a number." data-val-required="The UserId field is required." id="UserId" name="UserId" type="hidden" value="522423">    <div class="form-group">
                                    <div class="form-group clearfix">
                                        <div class="col-md-12">
                                            <div class="leftControl">
                                                <label for="PasswordOld">@AppRes.PasswordOld</label>
                                            </div>
                                            <div class="rightControl">
                                                <input class="form-control" data-val="true" data-val-required="Mật khẩu cũ không được để trống" id="PasswordOld" name="PasswordOld" type="password" onchange="ChangePasswordOld();">
                                                <span class="field-validation-error" id="ErrorPasswordOld" data-valmsg-for="PasswordOld" data-valmsg-replace="true"><span for="PasswordOld" class="error" style="margin-top:10px;color:red"></span></span>
                                            </div>
                                            <div class="requiredControl"><span class="required"> (*)</span></div>
                                        </div>
                                    </div>
                                    <div class="form-group clearfix">
                                        <div class="col-md-12">
                                            <div class="leftControl">
                                                <label for="PasswordNew">@AppRes.PasswordNew</label>
                                            </div>
                                            <div class="rightControl">
                                                <input class="form-control" data-val="true" data-val-required="Mật khẩu mới không được để trống" id="PasswordNew" name="PasswordNew" type="password" onchange="ChangePasswordNew();">
                                                <span class="field-validation-valid" id="ErrorPasswordNew" data-valmsg-for="PasswordNew" data-valmsg-replace="true" style="margin-top:10px;color:red"></span>
                                            </div>
                                            <div class="requiredControl"><span class="required"> (*)</span></div>
                                        </div>
                                    </div>
                                    <div class="form-group clearfix">
                                        <div class="col-md-12">
                                            <div class="leftControl">
                                                <label for="PasswordNewAgain">@AppRes.PasswordNewAgain</label>
                                            </div>
                                            <div class="rightControl">
                                                <input class="form-control" data-val="true" data-val-required="Nhập lại mật khẩu mới không được để trống" id="PasswordNewAgain" name="PasswordNewAgain" type="password" onchange="ChangePasswordNewAgain();">
                                                <span class="field-validation-valid" id="ErrorPasswordNewAgain" data-valmsg-for="PasswordNewAgain" data-valmsg-replace="true" style="margin-top:10px;color:red"></span>
                                            </div>
                                            <div class="requiredControl"><span class="required"> (*)</span></div>
                                        </div>
                                    </div>

                                </div>
                                <div class="text-center modal-footer">
                                    <div class="btn-group" role="group">
                                        <a class="btn btn-primary dropdown-toggle" id="btnChangePassword">&nbsp;<i class="fa fa-check-circle-o"></i>&nbsp;Cập nhật&nbsp;</a>
                                    </div>
                                    @*<div class="btn-group" role="group">
                                            <a class="btn btn-default dropdown-toggle" id="btnCancel">&nbsp;<i class="fa fa-ban"></i>&nbsp;Bỏ qua&nbsp;</a>
                                        </div>*@
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <script>

        //Click cập nhập đổi mật khẩu
        $(document).on('click', '#btnChangePassword', function () {
            var Email = "@Global.CurrentUser.UserName";
            var UserID = "@Global.CurrentUser.UserID";
            var Password = $("#PasswordOld").val();
            var PasswordNew = $("#PasswordNew").val();
            var PasswordNewAgain = $("#PasswordNewAgain").val();
            if (Password == null || Password == "") {
                $("#ErrorPasswordOld").html("@AppRes.ErrorPasswordOld");
                return
            }
            else if (PasswordNew == null || PasswordNew == "") {
                $("#ErrorPasswordNew").html("@AppRes.ErrorPasswordNew");
                return
            }
            else if (PasswordNewAgain == null || PasswordNewAgain == "") {
                $("#ErrorPasswordNewAgain").html("@AppRes.ErrorPasswordNewAgain");
                return
            }
            else if (PasswordNew != PasswordNewAgain) {
                $("#ErrorPasswordNewAgain").html("@AppRes.ErrorPasswordNewAgain1");
                return
            }
            $(function () {
                var dt = Loading();
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("DoChangePassword", "Authentication")',
                    data: {
                        Email: Email,
                        UserID: UserID,
                        Password: Password,
                        PasswordNew: PasswordNew,
                        PasswordNewAgain: PasswordNewAgain,
                    },
                    success: function (res) {
                        if (res.result.IsSuccess == false) {
                            AppendToToastr(false, "Thông báo", res.result.Message, 500, 5000);
                            dt.finish();
                        }
                        else {
                            AppendToToastr(true, "Thông báo", res.result.Message, 500, 5000);
                            window.location = window.location.origin + "/Authentication/Login";
                            dt.finish();
                        }
                    },
                    error: function (res) {
                    }
                });
            });

        });

        //không để trống mật khẩu cũ
        function ChangePasswordOld() {
            var Password = $("#PasswordOld").val();
            if (Password == null || Password == "") {
                $("#ErrorPasswordOld").html("@AppRes.ErrorPasswordOld");
                return
            }
            else {
                $("#ErrorPasswordOld").html("");
            }
        }

        //không để trống mật khẩu mới
        function ChangePasswordNew() {
            var PasswordNewAgain = $("#PasswordNewAgain").val();

            if (PasswordNew == null || PasswordNew == "") {
                $("#ErrorPasswordNew").html("@AppRes.ErrorPasswordNew");
                return
            }
            else {
                $("#ErrorPasswordNew").html("");
            }
        }

        //không để trống nhập lại mật khẩu
        function ChangePasswordNewAgain() {
            var PasswordNewAgain = $("#PasswordNewAgain").val();
            if (PasswordNewAgain == null || PasswordNewAgain == "") {
                $("#ErrorPasswordNewAgain").html("@AppRes.ErrorPasswordNewAgain");
                return
            }
            else {
                $("#ErrorPasswordNewAgain").html("");
            }
        }
    </script>
</body>
</html>