@{
    Layout = null;
}
@model HRM.Models.Sec_UserModel

@using HRM.Common
@using HRM.Constants
@using HRM.App_LocalResources

<div class="modal fade" id="myModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="width: 600px;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" style="font-size: 28px !important">×</span></button>
                <h4 class="modal-title" id="myModalLabel">@AppRes.ChangePassword</h4>
            </div>
            <div class="modal-body" style="overflow:hidden;">
                <div id="contentModel">
                    <form class="form-horizontal popup-container" id="frmChangePassword" method="post" role="form">
                        <input data-val="true" data-val-number="The field UserId must be a number." data-val-required="The UserId field is required." id="UserId" name="UserId" type="hidden">    <div class="form-group">
                            <div class="form-group clearfix">
                                <div class="col-md-12">
                                    <div class="leftControl">
                                        <label for="PasswordOld">@AppRes.PasswordOld</label>
                                    </div>
                                    <div class="rightControl">
                                        <input class="form-control" data-val="true" data-val-required="Mật khẩu cũ không được để trống" id="PasswordOld" name="PasswordOld" type="password" onchange="ChangePasswordOld();">
                                        <span class="field-validation-error" id="ErrorPasswordOld" data-valmsg-for="PasswordOld" data-valmsg-replace="true"><span for="PasswordOld" class="error" style="margin-top:10px;color:red"></span></span>
                                    </div>
                                    <div class="requiredControl"><span class="required"> (*)</span></div>
                                </div>
                            </div>
                            <div class="form-group clearfix">
                                <div class="col-md-12">
                                    <div class="leftControl">
                                        <label for="PasswordNew">@AppRes.PasswordNew</label>
                                    </div>
                                    <div class="rightControl">
                                        <input class="form-control" data-val="true" data-val-required="Mật khẩu mới không được để trống" id="PasswordNew" name="PasswordNew" type="password" onchange="ChangePasswordNew();">
                                        <span class="field-validation-valid" id="ErrorPasswordNew" data-valmsg-for="PasswordNew" data-valmsg-replace="true" style="margin-top:10px;color:red"></span>
                                    </div>
                                    <div class="requiredControl"><span class="required"> (*)</span></div>
                                </div>
                            </div>
                            <div class="form-group clearfix">
                                <div class="col-md-12">
                                    <div class="leftControl">
                                        <label for="PasswordNewAgain">@AppRes.PasswordNewAgain</label>
                                    </div>
                                    <div class="rightControl">
                                        <input class="form-control" data-val="true" data-val-required="Nhập lại mật khẩu mới không được để trống" id="PasswordNewAgain" name="PasswordNewAgain" type="password" onchange="ChangePasswordNewAgain();">
                                        <span class="field-validation-valid" id="ErrorPasswordNewAgain" data-valmsg-for="PasswordNewAgain" data-valmsg-replace="true" style="margin-top:10px;color:red"></span>
                                    </div>
                                    <div class="requiredControl"><span class="required"> (*)</span></div>
                                </div>
                            </div>

                        </div>
                        <div class="text-center modal-footer">
                            <div class="btn-group" role="group">
                                <a class="btn btn-primary dropdown-toggle" id="btnSubmit">&nbsp;<i class="fa fa-check-circle-o"></i>&nbsp;Cập nhật&nbsp;</a>
                            </div>
                            <div class="btn-group" role="group">
                                <a class="btn btn-default dropdown-toggle" id="btnCancel">&nbsp;<i class="fa fa-ban"></i>&nbsp;Bỏ qua&nbsp;</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>


<script>

    //click nút đổi mật khẩu
    function ChangePassword(id) {
        $("#ErrorPasswordOld").html("");
        $("#ErrorPasswordNew").html("");
        $("#ErrorPasswordNewAgain").html("");
        $("#PasswordOld").val("");
        $("#PasswordNew").val("");
        $("#PasswordNewAgain").val("");
        $("#myModal").modal("show");
    }

    //ẩn modal đổi mật khẩu
    $("#btnCancel").click(function () {
        $("#ErrorPasswordOld").html("");
        $("#ErrorPasswordNew").html("");
        $("#ErrorPasswordNewAgain").html("");
        $("#PasswordOld").val("");
        $("#PasswordNew").val("");
        $("#PasswordNewAgain").val("");
        $("#myModal").modal("hide");
    });

    //Click cập nhập đổi mật khẩu
    $("#btnSubmit").click(function () {
        var Email = "@Global.CurrentUser.UserName";
        var UserID = "@Global.CurrentUser.UserID";
        var Password = $("#PasswordOld").val();
        var PasswordNew = $("#PasswordNew").val();
        var PasswordNewAgain = $("#PasswordNewAgain").val();
        if (Password == null || Password == "") {
            $("#ErrorPasswordOld").html("@AppRes.ErrorPasswordOld");
            return
        }
        else if (PasswordNew == null || PasswordNew == "") {
            $("#ErrorPasswordNew").html("@AppRes.ErrorPasswordNew");
            return
        }
        else if (PasswordNewAgain == null || PasswordNewAgain == "") {
            $("#ErrorPasswordNewAgain").html("@AppRes.ErrorPasswordNewAgain");
            return
        }
        else if (PasswordNew != PasswordNewAgain) {
            $("#ErrorPasswordNewAgain").html("@AppRes.ErrorPasswordNewAgain1");
            return
        }
        $(function () {
            var dt = Loading();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("DoChangePassword", "Authentication")',
                data: {
                    Email: Email,
                    UserID: UserID,
                    Password: Password,
                    PasswordNew: PasswordNew,
                    PasswordNewAgain: PasswordNewAgain,
                },
                success: function (res) {
                    if (res.result.IsSuccess == false) {
                        AppendToToastr(false, notification, res.result.Message, 500, 5000);
                        dt.finish();
                    }
                    else {
                        AppendToToastr(true, notification, res.result.Message, 500, 5000);
                        window.location = window.location.origin + "/Authentication/Login";
                        dt.finish();
                    }
                },
                error: function (res) {
                }
            });
        });

    });

    //không để trống mật khẩu cũ
    function ChangePasswordOld() {
        var Password = $("#PasswordOld").val();
        if (Password == null || Password == "") {
            $("#ErrorPasswordOld").html("@AppRes.ErrorPasswordOld");
            return
        }
        else {
            $("#ErrorPasswordOld").html("");
        }
    }

    //không để trống mật khẩu mới
    function ChangePasswordNew() {
        var PasswordNewAgain = $("#PasswordNewAgain").val();

        if (PasswordNew == null || PasswordNew == "") {
            $("#ErrorPasswordNew").html("@AppRes.ErrorPasswordNew");
            return
        }
        else {
            $("#ErrorPasswordNew").html("");
        }
    }

    //không để trống nhập lại mật khẩu
    function ChangePasswordNewAgain() {
        var PasswordNewAgain = $("#PasswordNewAgain").val();
        if (PasswordNewAgain == null || PasswordNewAgain == "") {
            $("#ErrorPasswordNewAgain").html("@AppRes.ErrorPasswordNewAgain");
            return
        }
        else {
            $("#ErrorPasswordNewAgain").html("");
        }
    }
</script>