@{
    Layout = null;
}
@model HRM.Models.Sec_UserModel

@using HRM.Common
@using HRM.Constants
@using HRM.App_LocalResources
<!DOCTYPE html>
<html lang="en-us" id="extr-page">

<!-- Mirrored from 192.241.236.31/themes/preview/smartadmin/1.8.x/ajax/login.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 17 Mar 2017 03:59:47 GMT -->
<head>
    <meta charset="utf-8">
    <title> ERP Login</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- #CSS Links -->
    <!-- Basic Styles -->
    <link rel="stylesheet" type="text/css" media="screen" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/font-awesome.min.css">

    <!-- SmartAdmin Styles : Caution! DO NOT change the order -->
    <link rel="stylesheet" type="text/css" media="screen" href="/css/smartadmin-production-plugins.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/smartadmin-production.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/smartadmin-skins.min.css">

    <!-- SmartAdmin RTL Support -->
    <link rel="stylesheet" type="text/css" media="screen" href="/css/smartadmin-rtl.min.css">

    <!-- We recommend you use "your_style.css" to override SmartAdmin
         specific styles this will also ensure you retrain your customization with each SmartAdmin update.
    <link rel="stylesheet" type="text/css" media="screen" href="css/your_style.css"> -->
    <!-- Demo purpose only: goes with demo.js, you can delete this css when designing your own WebApp -->
    <link rel="stylesheet" type="text/css" media="screen" href="/css/demo.min.css">

    <!-- #FAVICONS -->
    <link rel="shortcut icon" href="/img/favicon/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/img/favicon/favicon.ico" type="image/x-icon">

    <!-- #GOOGLE FONT -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700">

    <!-- #APP SCREEN / ICONS -->
    <!-- Specifying a Webpage Icon for Web Clip
         Ref: https://developer.apple.com/library/ios/documentation/AppleApplications/Reference/SafariWebContent/ConfiguringWebApplications/ConfiguringWebApplications.html -->
    <link rel="apple-touch-icon" href="/img/splash/sptouch-icon-iphone.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/img/splash/touch-icon-ipad.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/img/splash/touch-icon-iphone-retina.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/img/splash/touch-icon-ipad-retina.png">

    <!-- iOS web-app metas : hides Safari UI Components and Changes Status Bar Appearance -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <!-- Startup image for web apps -->
    <link rel="apple-touch-startup-image" href="/img/splash/ipad-landscape.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape)">
    <link rel="apple-touch-startup-image" href="/img/splash/ipad-portrait.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait)">
    <link rel="apple-touch-startup-image" href="/img/splash/iphone.png" media="screen and (max-device-width: 320px)">

    <!-- Link to Google CDN's jQuery + jQueryUI; fall back to local -->
    <script src="/js/libs/jquery-2.1.1.min.js"></script>
    <script src="/js/bootstrap/bootstrap.min.js"></script>

    <!-- LINK THÔNG BÁO BẢO TRÌ HỆ THỐNG-->
    @*<script type="text/javascript">
            $(document).ready( function() {
                url = "/Maintenance.html";
                $(location).attr("href", url);
            });
        </script>*@

</head>

<body class="animated fadeInDown">

    <header id="header">

        <div id="logo-group">
            <span id="logo"> <img src="/img/logo.png" alt="SmartAdmin"> </span>
        </div>

        @*<span id="extr-page-header-space"> <span class="hidden-mobile hidden-xs">Need an account?</span> <a href="register.html" class="btn btn-danger">Create account</a> </span>*@

    </header>

    <div id="main" role="main">

        <!-- MAIN CONTENT -->
        <div id="content" class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <div class="well no-padding">
                        <form action="/Authentication/DoLogin" id="login-form" class="smart-form client-form" method="POST">

                            <fieldset>
                                <section>
                                    @Html.Raw(Model.ErrMess)
                                </section>
                                @if (string.IsNullOrEmpty(Request.QueryString["RedirectUrl"]))
                                {
                                    <input type="hidden" name="RedirectUrl">
                                }
                                else
                                {
                                    <input type="hidden" name="RedirectUrl" value="@Request.QueryString["RedirectUrl"]">
                                }

                                <section>
                                    <label class="label">@AppRes.UserName</label>
                                    <label class="input">
                                        <i class="icon-append fa fa-user"></i>
                                        <input type="text" name="Email">
                                        <b class="tooltip tooltip-top-right"><i class="fa fa-user txt-color-teal"></i>@AppRes.NoteUserName</b>
                                    </label>
                                </section>

                                <section>
                                    <label class="label">@AppRes.Password</label>
                                    <label class="input">
                                        <i class="icon-append fa fa-lock"></i>
                                        <input type="password" name="Password">
                                        <b class="tooltip tooltip-top-right"><i class="fa fa-lock txt-color-teal"></i> @AppRes.NotePassword</b>
                                    </label>
                                    <div class="note hide">
                                        <a href="forgotpassword.html">@AppRes.RememberMe</a>
                                    </div>
                                </section>

                                <section>
                                    <div>
                                        <span>
                                            <label class="checkbox" style="width: 60%">
                                                <input type="checkbox" name="remember" checked="">
                                                <i></i>@AppRes.RememberMe
                                            </label>

                                        </span>
                                        <ul class="header-dropdown-list hidden-xs" style="margin: -34px 4px 0 0;">
                                            <li>
                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                                    @if (Global.CurrentLanguage == (int)Constant.numLanguage.VN)
                                                    {
                                                        <div id="optionVN" style="">
                                                            <img src="/img/blank.gif" class="flag flag-vn" alt="Viet Nam">
                                                            <span>VN</span>
                                                            <i class="fa fa-angle-down"></i>
                                                        </div>
                                                        <div id="optionEN" style="display: none;">
                                                            <img src="/img/blank.gif" class="flag flag-us" alt="English">
                                                            <span>EN</span>
                                                            <i class="fa fa-angle-down"></i>
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        <div id="optionVN" style="display: none;">
                                                            <img src="/img/blank.gif" class="flag flag-vn" alt="Viet Nam">
                                                            <span>VN</span>
                                                            <i class="fa fa-angle-down"></i>
                                                        </div>
                                                        <div id="optionEN" style="">
                                                            <img src="/img/blank.gif" class="flag flag-us" alt="English">
                                                            <span>EN</span>
                                                            <i class="fa fa-angle-down"></i>
                                                        </div>
                                                    }
                                                </a>
                                                <ul class="dropdown-menu pull-right">
                                                    <li id="liVN" class="@(Global.CurrentLanguage == (int) Constant.numLanguage.VN ? "active" : "")">
                                                        <a href="javascript:;" onclick="ChangeLanguage(@Constant.numLanguage.VN.GetHashCode()); ">
                                                            <img src="/img/blank.gif" class="flag flag-vn" alt="Viet Nam"> Viet Nam
                                                        </a>
                                                    </li>

                                                    <li id="liEN" class="@(Global.CurrentLanguage == (int) Constant.numLanguage.EN ? "active" : "")">
                                                        <a href="javascript:;" onclick="ChangeLanguage(@Constant.numLanguage.EN.GetHashCode()); ">
                                                            <img src="/img/blank.gif" class="flag flag-us" alt="English"> English
                                                        </a>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                        <input type="hidden" value="@Global.CurrentLanguage" id="hdLanguage" name="hdLanguage" />
                                    </div>
                                </section>

                            </fieldset>
                            <footer>
                                <button type="submit" class="btn btn-primary">
                                    @AppRes.Signin
                                </button>
                            </footer>
                        </form>

                    </div>

                    <div class="hide">
                        <h5 class="text-center"> - Or sign in using -</h5>

                        <ul class="list-inline text-center">
                            <li>
                                <a href="javascript:void(0);" class="btn btn-primary btn-circle"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="javascript:void(0);" class="btn btn-info btn-circle"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="javascript:void(0);" class="btn btn-warning btn-circle"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @Html.Partial("~/Views/Authentication/_LoginJS.cshtml")
</body>
</html>