@model Hrm.Web.ViewModels.GridChecklistViewModel
<div class="onboarding-checklist">
    @if (Model.IsSendChecklist)
    {
        var Color = "color:#F68E56";
        if (Model.TotalCurrentCheckListDetailCompleted == Model.TotalCurrentChecklistChild)
        {
            Color = "color:#86c679";
        }
        <div class="list-check" style="@Color">
            <span style="text-align:center;width:100%"><i class="fas fa-clipboard-check" style="margin-right: 10px"></i>@Model.TotalCurrentCheckListDetailCompleted/@Model.TotalCurrentChecklistChild</span>
        </div>
    }
    else
    {
        <a><div class="send-checklist" onclick="openPopupCheckList(@Model.Id,'@Model.Name',@Model.OfficePositionId)"><span style="text-align:center;width:100%">@T("Table.Content.SendChecklist")</span></div></a>
    }
</div>

