@model Hrm.Framework.Models.IconButtonModel
@{
    Layout = null;
}
<button class="@Model.BtnClass" type="button" onclick="@Model.OnClick" id="@Model.Name" title="@Model.Title"><i class="@Model.IconName"></i></button>

