@using HRM.App_LocalResources;
<div class="container-fluid">
    <div class="row" id="SaveConfig_PersonalIncomeTax" style="margin: 0;">
        <form role="form" name="EditForm" ng-submit="SaveAction(tableInfo.AddUrl,EditForm)">
            <div class="col-md-12">
                <!-- START panel-->
                <div class="panel">
                    <div class="panel-heading"><h3 style="text-transform: none;">@AppRes.Config_PersonalIncomeTax</h3></div>
                    <hr />
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-3" style="line-height:30px;">
                                        <label>@AppRes.PersonalinCome <span style="color:red">(*)</span></label>
                                    </div>
                                    <div class="col-md-9">
                                        <input type="text" ng-model="Data.FromIncome" class="form-control" ng-change="ChangeFromIncome()"/>
                                        <span style="color:red;line-height:30px;">{{ErrorFromIncome}}</span>
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-3">
                                        <label style="line-height:30px;">@AppRes.Tax<span style="color:red">(*)</span></label>
                                    </div>
                                    <div class="col-md-9">
                                        <input type="text" ng-disabled="Readonly" class="form-control" ng-model="Data.Tax" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row">                                                       
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-3" style="line-height:30px;">
                                        <label>@AppRes.SubtractAmount <span style="color:red">(*)</span></label>
                                    </div>
                                    <div class="col-md-9">
                                        <input type="text" ng-disabled="Readonly" ng-model="Data.SubtractAmount" class="form-control" />
                                    </div>

                                </div>
                            </div>                           
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-3">
                                        <label style="line-height:30px;">@AppRes.FullAmount <span style="color:red">(*)</span></label>
                                    </div>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" ng-model="Data.FullAmount" ng-disabled="Readonly" />

                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-3" style="line-height:30px;">
                                        <label>@AppRes.ProgressiveLevel <span style="color:red">(*)</span></label>
                                    </div>
                                    <div class="col-md-9">
                                        <input type="text" ng-model="Data.ProgressiveAmount" ng-disabled="Readonly" class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END panel-->
                <center>
                    <button type="button" class="btn btn-success btn-labeled" ng-click="Save()">
                        <span class="btn-label">
                            <i class="fa fa-save"></i>
                        </span>@AppRes.btnUpdate
                    </button>
                    <button type="reset" class="btn btn-labeled" ng-click="CloseForm()">
                        <span class="btn-label">
                            <i class="fa fa-close"></i>
                        </span>@AppRes.btnCancel
                    </button>
                </center>
            </div>
        </form>
    </div>
</div>

